@media only screen and (max-width: 414px) {
    .btn-border {
        margin-left: 2px !important;
        margin-top: 7px;
    }
    #header-jumbotron {
        height: 786px !important;
    }
    #header-jumbotron .col-md-5,
    .cols .none {
        display: none;
    }
    .store-list .support-list li,
    .partner-list li, .social-list li {
        width: 100% !important;
        display: block;
    }
    .item {
        padding: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    #header-jumbotron .col-md-5 {
        display: none;
    }
}